html
  head
    title Weex Entry
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui, viewport-fit=cover")
    //- link(rel="stylesheet", href="/public/css/app.css")
  body
    #app
    //- div.page-tester
    //-   img.qr#qr
    //-   h1.title Weex Entry
    //-   ul.list
    //-     each file in files
    //-       li
    //-         h3= file
    //-         .action
    //-           a(href=`/tester/page/${file}`)= file
    != helper.assets.getScript('app.js')
